In [1]:
import numpy as np
import pandas as pd

In [9]:
dict1 = {
    "Nome":         ['Anderson', 'Beatriz', 'Bruno', 'Cristiano', 'Daniel', 'Douglas', 'Elena', 'Fabrício', 'Gabriel', 'Janaína', 'Luíz', 'Marcos', 'Nadia', 'Oswaldo', 'Patrícia', 'Ricardo'],
    "Idade":        [24, 36, 45, 56, 29, 20, 38, 47, 23, 56, 32, 22, 36, 68, 22, 38],
    "Cidade":       ['Santos', 'Atibaia', 'Guarulhos', 'Atibaia', 'Santos', 'Guarulhos', 'Guarulhos', 'Atibaia', 'Guarulhos', 'Guarulhos', 'Atibaia', 'Guarulhos', 'Santos', 'Guarulhos', 'Guarulhos', 'Santos'],
    "Registro":     [32123, 45828, 34985, 13457, 98439, 99348, 45019, 24894, 32948, 13480, 22884, 56821, 65938, 12956, 75439, 45392],
    "Departamento": ['RH','PD', 'RH', 'ADM', 'ADM', 'RH', 'ADM', 'PD', 'PD', 'ADM', 'PD', 'ADM', 'PD', 'RH', 'ADM', 'PD'],
    "Formação":     ['Graduação', 'Mestrado', 'Graduação', 'Técnico', 'Graduação', 'Técnico', 'Graduação', 'Graduação', 'Técnico', 'Graduação', 'Graduação', 'Graduação', 'Graduação', 'Mestrado', 'Graduação', 'Mestrado'], 
}

In [6]:
serie = pd.Series(dict1)
serie

Nome            [Anderson, Beatriz, Bruno, Cristiano, Daniel, ...
Idade           [24, 36, 45, 56, 29, 20, 38, 47, 23, 56, 32, 2...
Cidade          [Santos, Atibaia, Guarulhos, Atibaia, Santos, ...
Registro        [32123, 45828, 34985, 13457, 98439, 99348, 450...
Departamento    [RH, PD, RH, ADM, ADM, RH, ADM, PD, PD, ADM, P...
Formação        [Graduação, Mestrado, Graduação, Técnico, Grad...
dtype: object

In [7]:
dafra = pd.DataFrame(dict1)

In [8]:
dafra

         Nome  Idade     Cidade  Registro Departamento   Formação
0    Anderson     24     Santos     32123           RH  Graduação
1     Beatriz     36    Atibaia     45828           PD   Mestrado
2       Bruno     45  Guarulhos     34985           RH  Graduação
3   Cristiano     56    Atibaia     13457          ADM    Técnico
4      Daniel     29     Santos     98439          ADM  Graduação
5     Douglas     20  Guarulhos     99348           RH    Técnico
6       Elena     38  Guarulhos     45019          ADM  Graduação
7    Fabrício     47    Atibaia     24894           PD  Graduação
8     Gabriel     23  Guarulhos     32948           PD    Técnico
9     Janaína     56  Guarulhos     13480          ADM  Graduação
10       Luíz     32    Atibaia     22884           PD  Graduação
11     Marcos     22  Guarulhos     56821          ADM  Graduação
12      Nadia     36     Santos     65938           PD  Graduação
13    Oswaldo     68  Guarulhos     12956           RH   Mestrado
14   Patrícia     22  Guarulhos     75439          ADM  Graduação
15    Ricardo     38     Santos     45392           PD   Mestrado

In [16]:
groupByCidade = dafra.groupby('Cidade')

In [17]:
groupByFormacao = dafra.groupby('Formação')

In [18]:
groupByDepto = dafra.groupby('Departamento')

In [19]:
groupByCidadeEDepto = dafra.groupby(['Cidade', 'Departamento'])

In [20]:
groupByDeptoEFormacao = dafra.groupby(['Departamento', 'Formação'])

In [21]:
list(groupByCidade)

[('Atibaia',
           Nome  Idade   Cidade  Registro Departamento   Formação
  1     Beatriz     36  Atibaia     45828           PD   Mestrado
  3   Cristiano     56  Atibaia     13457          ADM    Técnico
  7    Fabrício     47  Atibaia     24894           PD  Graduação
  10       Luíz     32  Atibaia     22884           PD  Graduação),
 ('Guarulhos',
          Nome  Idade     Cidade  Registro Departamento   Formação
  2      Bruno     45  Guarulhos     34985           RH  Graduação
  5    Douglas     20  Guarulhos     99348           RH    Técnico
  6      Elena     38  Guarulhos     45019          ADM  Graduação
  8    Gabriel     23  Guarulhos     32948           PD    Técnico
  9    Janaína     56  Guarulhos     13480          ADM  Graduação
  11    Marcos     22  Guarulhos     56821          ADM  Graduação
  13   Oswaldo     68  Guarulhos     12956           RH   Mestrado
  14  Patrícia     22  Guarulhos     75439          ADM  Graduação),
 ('Santos',
          Nome  Idade  Cidade  Registro Departamento   Formação
  0   Anderson     24  Santos     32123           RH  Graduação
  4     Daniel     29  Santos     98439          ADM  Graduação
  12     Nadia     36  Santos     65938           PD  Graduação
  15   Ricardo     38  Santos     45392           PD   Mestrado)]

In [22]:
list(groupByFormacao)

[('Graduação',
          Nome  Idade     Cidade  Registro Departamento   Formação
  0   Anderson     24     Santos     32123           RH  Graduação
  2      Bruno     45  Guarulhos     34985           RH  Graduação
  4     Daniel     29     Santos     98439          ADM  Graduação
  6      Elena     38  Guarulhos     45019          ADM  Graduação
  7   Fabrício     47    Atibaia     24894           PD  Graduação
  9    Janaína     56  Guarulhos     13480          ADM  Graduação
  10      Luíz     32    Atibaia     22884           PD  Graduação
  11    Marcos     22  Guarulhos     56821          ADM  Graduação
  12     Nadia     36     Santos     65938           PD  Graduação
  14  Patrícia     22  Guarulhos     75439          ADM  Graduação),
 ('Mestrado',
         Nome  Idade     Cidade  Registro Departamento  Formação
  1   Beatriz     36    Atibaia     45828           PD  Mestrado
  13  Oswaldo     68  Guarulhos     12956           RH  Mestrado
  15  Ricardo     38     Santos     45392           PD  Mestrado),
 ('Técnico',
          Nome  Idade     Cidade  Registro Departamento Formação
  3  Cristiano     56    Atibaia     13457          ADM  Técnico
  5    Douglas     20  Guarulhos     99348           RH  Técnico
  8    Gabriel     23  Guarulhos     32948           PD  Técnico)]

In [23]:
list(groupByDepto)

[('ADM',
           Nome  Idade     Cidade  Registro Departamento   Formação
  3   Cristiano     56    Atibaia     13457          ADM    Técnico
  4      Daniel     29     Santos     98439          ADM  Graduação
  6       Elena     38  Guarulhos     45019          ADM  Graduação
  9     Janaína     56  Guarulhos     13480          ADM  Graduação
  11     Marcos     22  Guarulhos     56821          ADM  Graduação
  14   Patrícia     22  Guarulhos     75439          ADM  Graduação),
 ('PD',
          Nome  Idade     Cidade  Registro Departamento   Formação
  1    Beatriz     36    Atibaia     45828           PD   Mestrado
  7   Fabrício     47    Atibaia     24894           PD  Graduação
  8    Gabriel     23  Guarulhos     32948           PD    Técnico
  10      Luíz     32    Atibaia     22884           PD  Graduação
  12     Nadia     36     Santos     65938           PD  Graduação
  15   Ricardo     38     Santos     45392           PD   Mestrado),
 ('RH',
          Nome  Idade     Cidade  Registro Departamento   Formação
  0   Anderson     24     Santos     32123           RH  Graduação
  2      Bruno     45  Guarulhos     34985           RH  Graduação
  5    Douglas     20  Guarulhos     99348           RH    Técnico
  13   Oswaldo     68  Guarulhos     12956           RH   Mestrado)]

In [24]:
list(groupByCidadeEDepto)

[(('Atibaia', 'ADM'),
          Nome  Idade   Cidade  Registro Departamento Formação
  3  Cristiano     56  Atibaia     13457          ADM  Técnico),
 (('Atibaia', 'PD'),
          Nome  Idade   Cidade  Registro Departamento   Formação
  1    Beatriz     36  Atibaia     45828           PD   Mestrado
  7   Fabrício     47  Atibaia     24894           PD  Graduação
  10      Luíz     32  Atibaia     22884           PD  Graduação),
 (('Guarulhos', 'ADM'),
          Nome  Idade     Cidade  Registro Departamento   Formação
  6      Elena     38  Guarulhos     45019          ADM  Graduação
  9    Janaína     56  Guarulhos     13480          ADM  Graduação
  11    Marcos     22  Guarulhos     56821          ADM  Graduação
  14  Patrícia     22  Guarulhos     75439          ADM  Graduação),
 (('Guarulhos', 'PD'),
        Nome  Idade     Cidade  Registro Departamento Formação
  8  Gabriel     23  Guarulhos     32948           PD  Técnico),
 (('Guarulhos', 'RH'),
         Nome  Idade     Cidade  Registro Departamento   Formação
  2     Bruno     45  Guarulhos     34985           RH  Graduação
  5   Douglas     20  Guarulhos     99348           RH    Técnico
  13  Oswaldo     68  Guarulhos     12956           RH   Mestrado),
 (('Santos', 'ADM'),
       Nome  Idade  Cidade  Registro Departamento   Formação
  4  Daniel     29  Santos     98439          ADM  Graduação),
 (('Santos', 'PD'),
         Nome  Idade  Cidade  Registro Departamento   Formação
  12    Nadia     36  Santos     65938           PD  Graduação
  15  Ricardo     38  Santos     45392           PD   Mestrado),
 (('Santos', 'RH'),
         Nome  Idade  Cidade  Registro Departamento   Formação
  0  Anderson     24  Santos     32123           RH  Graduação)]

In [25]:
list(groupByDeptoEFormacao)

[(('ADM', 'Graduação'),
          Nome  Idade     Cidade  Registro Departamento   Formação
  4     Daniel     29     Santos     98439          ADM  Graduação
  6      Elena     38  Guarulhos     45019          ADM  Graduação
  9    Janaína     56  Guarulhos     13480          ADM  Graduação
  11    Marcos     22  Guarulhos     56821          ADM  Graduação
  14  Patrícia     22  Guarulhos     75439          ADM  Graduação),
 (('ADM', 'Técnico'),
          Nome  Idade   Cidade  Registro Departamento Formação
  3  Cristiano     56  Atibaia     13457          ADM  Técnico),
 (('PD', 'Graduação'),
          Nome  Idade   Cidade  Registro Departamento   Formação
  7   Fabrício     47  Atibaia     24894           PD  Graduação
  10      Luíz     32  Atibaia     22884           PD  Graduação
  12     Nadia     36   Santos     65938           PD  Graduação),
 (('PD', 'Mestrado'),
         Nome  Idade   Cidade  Registro Departamento  Formação
  1   Beatriz     36  Atibaia     45828           PD  Mestrado
  15  Ricardo     38   Santos     45392           PD  Mestrado),
 (('PD', 'Técnico'),
        Nome  Idade     Cidade  Registro Departamento Formação
  8  Gabriel     23  Guarulhos     32948           PD  Técnico),
 (('RH', 'Graduação'),
         Nome  Idade     Cidade  Registro Departamento   Formação
  0  Anderson     24     Santos     32123           RH  Graduação
  2     Bruno     45  Guarulhos     34985           RH  Graduação),
 (('RH', 'Mestrado'),
         Nome  Idade     Cidade  Registro Departamento  Formação
  13  Oswaldo     68  Guarulhos     12956           RH  Mestrado),
 (('RH', 'Técnico'),
        Nome  Idade     Cidade  Registro Departamento Formação
  5  Douglas     20  Guarulhos     99348           RH  Técnico)]

In [27]:
lbd = lambda x: (x-x.mean())

In [30]:
groupByCidade['Idade'].transform(lbd)

0     -7.75
1     -6.75
2      8.25
3     13.25
4     -2.75
5    -16.75
6      1.25
7      4.25
8    -13.75
9     19.25
10   -10.75
11   -14.75
12     4.25
13    31.25
14   -14.75
15     6.25
Name: Idade, dtype: float64

In [31]:
groupByFormacao['Idade'].transform(lbd)

0    -11.100000
1    -11.333333
2      9.900000
3     23.000000
4     -6.100000
5    -13.000000
6      2.900000
7     11.900000
8    -10.000000
9     20.900000
10    -3.100000
11   -13.100000
12     0.900000
13    20.666667
14   -13.100000
15    -9.333333
Name: Idade, dtype: float64

In [32]:
groupByDepto['Idade'].transform(lbd)

0    -15.250000
1      0.666667
2      5.750000
3     18.833333
4     -8.166667
5    -19.250000
6      0.833333
7     11.666667
8    -12.333333
9     18.833333
10    -3.333333
11   -15.166667
12     0.666667
13    28.750000
14   -15.166667
15     2.666667
Name: Idade, dtype: float64

In [33]:
groupByCidadeEDepto['Idade'].transform(lbd)

0      0.000000
1     -2.333333
2      0.666667
3      0.000000
4      0.000000
5    -24.333333
6      3.500000
7      8.666667
8      0.000000
9     21.500000
10    -6.333333
11   -12.500000
12    -1.000000
13    23.666667
14   -12.500000
15     1.000000
Name: Idade, dtype: float64

In [35]:
groupByDeptoEFormacao['Idade'].transform(lbd)

0    -10.500000
1     -1.000000
2     10.500000
3      0.000000
4     -4.400000
5      0.000000
6      4.600000
7      8.666667
8      0.000000
9     22.600000
10    -6.333333
11   -11.400000
12    -2.333333
13     0.000000
14   -11.400000
15     1.000000
Name: Idade, dtype: float64